
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#header-image {
	background-image: url("../../res/WideBranded.png");
}

#hleft {
	cursor: pointer;
}

.section {
	padding-bottom: 50px;
}

.collapsed {
	padding-bottom: 0px;
}

.collapsed .content, .collapsed .content-description, .collapsed .content-breaker {
	display: none !important;
}

.content-block-holder.head {
	cursor: pointer;
	border-style: solid;
	border-color: rgba(235,235,235,1);
	transition-delay: 200ms;
	transition-duration: 500ms;
	border-width: 3px;
	background-color: white;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome and Opera */
}

.section {
	margin-bottom: 5px;
}

.content-block.content .content-breaker {
	background-color: rgba(193, 193, 193,0.5);
	border-color: rgba(193, 193, 193,0.5);
}

.content-block.content.content-input {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(117,117,117,1);
}

.content-block.content.content-return {
	font-family: Tahoma, Geneva, sans-serif;
	display: none;
	max-width: 450px;
}

.content-block.content.content-return .content-breaker {
	max-width: 350px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-block.content .return {
	display: none;
	text-align: center;
	width: 100%;
	max-width: 350px;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-sizing:border-box;
}

.return-error {
	display: none;
	text-align: center;
	width: 100%;
	max-width: 350px;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-sizing:border-box;
}

.content-block.content input {
	display: block;
	width: 100%;
	max-width: 350px;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-sizing:border-box;
	text-align: center;
}

@media screen and (max-width: 1100px) {
	.content-block.content.content-return {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px) {
	.content-block.content.content-input {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.content-block.content.content-return {
		width: 100%;
		max-width: none !important;
		margin-left: 0px;
		margin-right: 0px;
	}
	.content-block.content input {
		width: 95%;
		max-width: none;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.content-block.content button {
		width: 95%;
		max-width: none;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.content-block.content .return {
		width: 95%;
		max-width: none;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}